.section-element {
    padding: 10px 0px;
}


.hidden-element { 
    display: none;
}

.header-container {
    margin: 6px 0px;
}

.hotel-item {
    font-size: 11px;
    padding: 1px 10px;
}

.mr-15-0 {
    margin: 15px 0px;
}