
.text-transform-none {
    text-transform: none;
}

.padding-top-0 {
    padding-top: 0px !important;
}

.flex-center {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.flex {
    display: flex;
}