
@import 'style.scss';
@import 'elements.scss';

@import '../services/templates/RefundDeliveryNote/refundDeliveryNote';

.basicTemplate {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  padding: 5px 15px 5px 15px;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.basicTemplate .header-div {
  padding: 10px;
}

.basicTemplate.ltr {
  direction: ltr !important;
}

.basicTemplate.rtl {
  direction: rtl !important;
}

.basicTemplate .header-border {
  border-bottom: solid black 2px;
  padding: 10px;
}

.basicTemplate .body-div {
  padding: 15px;
}

.basicTemplate .itemDiv {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.basicTemplate .rowPadding {
  padding: 10px 0 10px 0;
}

.basicTemplate .item-modifier-div {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.basicTemplate .il-format {
  display: flex;
  flex-direction: row;
}

.basicTemplate .us-format {
  display: flex;
  flex-direction: row;
}

.basicTemplate .item-qty {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.basicTemplate .item-name {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  flex: 5;
  margin: 0px 2px;
}

.basicTemplate .item-amount {
  display: flex;
  justify-content: flex-start;
  flex: 4;
}

.basicTemplate .total-name {
  display: flex;
  justify-content: flex-start;
  flex: 6;
  margin: 0px 5px;
}

 
.basicTemplate .number-data{
  display:flex;
  justify-content: flex-start;
  flex:8;
}

.basicTemplate .total-amount {
  display: flex;
  padding: 0 0px 0 3px;
  justify-content: flex-start;
  flex: 3;
}

.basicTemplate .holder-name{
  font-size: 10px;
  display:flex;
  justify-content: flex-start;
  flex:6;
} 

.basicTemplate .negative {
  direction: ltr !important;
  text-align: right;
  width: 100%;
}

.basicTemplate .signature-container {
  border-radius: 4px;
  background-color: #f7f7f7;
  width: 100%;
  max-height: 100px;
}

.basicTemplate .tpl-body-div {
  border-bottom: solid #E8E8E8 1px;
  padding: 10px 0 10px 0;

}

.tpl-body-div:last-child {
  border-bottom: 0px;

}

.body-div:last-child {
  border-bottom: 0px;

}

.basicTemplate .tpl-body-div:last-child {
  border-bottom: 0px;

}

.basicTemplate .tpl-body-div.body-div:last-child {
  border-bottom: 0px;

}

.basicTemplate .body-div:last-child {
  border-bottom: 0px;

}

.basicTemplate .padding-bottom {
  padding-bottom: 5px;
}

.basicTemplate .padding-top {
  padding-top: 5px;
}

.basicTemplate .big-chars {
  font-size: 22px;
}

.basicTemplate .med-chars {
  font-size: 18px;
}

.basicTemplate .small-chars {
  font-size: 12px;
}

.basicTemplate .emv-chars {
  font-size: 11px;
}

.basicTemplate .bold{
  font-weight: bold;
}

.basicTemplate .bigBold{
  font-weight: bold;
  font-size: 21px;
}

.basicTemplate.rtl .customerMessage{
  padding-top:5px;
  text-align: right;
}

.basicTemplate.ltr .customerMessage{
  padding-top:5px;
  text-align: left;
}

.basicTemplate .total-amount.negative {
  direction: ltr !important;
  text-align: right;
  display: block;
}

.basicTemplate .othDiv {
  font-weight: 600;
  font-size: 20px;
  color: black;
}

.basicTemplate .changeDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 7px;
}

.basicTemplate .centralize {
  display: flex;
  justify-content: center;
}

.basicTemplate.ltr {
    .align-text {
      text-align: left;
    }
}

.basicTemplate.rtl {
  .align-text {
    text-align: right;
  }
}

.basicTemplate .m-bottom-10 {
  margin-bottom: 10px;
}

.basicTemplate.ltr .total-amount{
  padding: 0 20px 0 18px;
  justify-content: flex-end;
  direction:ltr !important;
  text-align: right !important;
}

.border-bottom{
  padding-bottom:10px;
  border-bottom: solid #E8E8E8 1px;

}
.border-top{
  padding-top:5px;
  border-bottom: solid #E8E8E8 1px;

}

.emv-div{
  display:flex;
}

.emv-text{
  display:flex;
  flex:1;
}
